body{
    font-family: monospace;
}
th{
    color:white;
    background-color: gray;
}
td{               /*データ内*/
    font-size:30px;
    height: 48px;
    color:greenyellow;
    border: 5px black solid;  /*表の中の枠色*/
    font-family: "FM明朝",serif;
}
table{        /*表全体*/
    table-layout:fixed;
    background-color: black;
    border: 10px gray solid;/*周りの色*/
    width: 750px; 
    height:200px;
    white-space:nowrap;
    text-align:center;
    margin:15px;
}
p3{
    font-size:20px;
}
.railnumber{
    font-weight:900;
}
.Ctitle{
    background-color: gray;
    color:white;
}