body{
    font-family: monospace;
}
th{
    color:white;
    background-color: black;
    border-bottom: 1px white solid;
}
td{               /*データ内*/
    font-size:30px;
    height: 45px;
    color:white;
    border:1px black solid;  /*表の中の枠色*/
    font-family: "meiryo",serif;
    font-weight: 500;
}
table{        /*表全体*/
    table-layout:fixed;
    background-color: black;
    border: 10px gray solid;/*周りの色*/
    width: 750px; 
    height:200px;
    white-space:nowrap;
    text-align:center;
    margin:15px;
}
span{
    display: inline-block;
}
.shubetu{
    border-radius: 10px;
}
.railnumber{
    font-weight:700;
    background-color: white;
    color:black;
    font-family: Arial,"MS Gothic",monospace;
}
.Ctitle{
    background-color: yellow;
    color:black;
    border-bottom:4px orange solid;
}
.Cdetail{
    text-align: left;
    height:30px;
    font-size:25px;
    overflow: hidden;
}