body{
    font-family: monospace;
}
th{
    color:white;
    background-color: gray;
    height:1px;
}
td{               /*データ内*/
    /*font-size:30px;*/
    height:45px;
    color:#0f0;
    font-family: "FM明朝","ＭＳ 明朝",serif;
    padding:2px;
    border:none;
    margin:2px;
}

table{        /*表全体*/
    table-layout:fixed;
    background-color: black;
    border: 10px gray solid;/*周りの色*/
    border-top:0px;
    width: 50%; 
    white-space:nowrap;
    text-align:center;
    border-spacing: 0px;
}
.Ctime{
    font-size:2.1vw;
}
.name{
    font-size:2.1vw;
}
.Ctitle{
    background-color:gray;
    height:40px;
    color:white;
}
.railnumber{
    font-weight:900;
    color:orange;
}
.topic{
    color:orange;
}
.HrailNumber{
    text-align: left;
}
.CDetail{
    overflow: hidden;
    text-align: left;
}
.CDetailtitle{
    background-color: #0f0;
    color:black;
    font-weight:900;
    margin-right:50px;
}
.red{
    color:red;
}
.green{
    color:yellowgreen;
}
.pink{
    color:pink;
}
.orange{
    color:orange;
}
@media(max-width:1199px) {
    table{        /*表全体*/
        width: 750px; 
    }
    .Ctime{
        font-size:35px;
    }
    .name{
        font-size:35px;
    }
}