body{
    font-family: monospace;
}
th{
    color:white;
    background-color: gray;
    height:1px;
}
time{
    border:green solid;
    font-size:40px;
    text-align: right;
}
td{               /*データ内*/
    font-size:30px;
    height: 48px;
    color:greenyellow;
    font-family: "FM明朝",serif;
    padding:0;
    border:1px black solid;
    margin:0;
}
.Destination{
    color:orange;
}

table{        /*表全体*/
    table-layout:fixed;
    background-color: black;
    border: 10px gray solid;/*周りの色*/
    border-top:0px;
    width: 750px; 
    white-space:nowrap;
    text-align:center;
    border-spacing: 0px;
}
.Ctitle{
    background-color:gray;
    height:40px;
    color:white;
}
.shubetu{ 
    font-size:15px;
}
p3{
    font-size:20px;
}
.railnumber{
    font-weight:900;
}
.HrailNumber{
    text-align: left;
}
.CDetail{
    overflow: hidden;
}
.news-banner__content {
    font-size:30px;
    color:greenyellow;
}