body{
    font-family: monospace;
}
th{
    color:white;
    background-color:  black;
    height:3px;
}
td{               /*データ内*/
    font-size:30px;
    height: 25px;
    color:greenyellow;
    border: 1px solid;  /*表の中の枠色*/
    border-color: gray black;
    font-family: "Bridge BRG","MS Gothic";
    border-left:none;
    border-right:none;
    border-bottom:1px gray solid; 
}
table{        /*表全体*/
    table-layout:fixed;
    background-color: black;
    border: 15px gray solid;/*周りの色*/
    width: 750px; 
    white-space:nowrap;
    text-align:center;
    border-spacing: 0;
}
p3{
    font-size:20px;
}
.railnumber{
    color:orange;
    font-weight:900;
}
#stationname{
    font-size:40px;
    text-align:center;
    color:green;
}
caption{
    color:white;
    background-color: gray;
}