body {
    font-family: monospace;
}

td {
    /*データ内*/
    font-size: 30px;
    height: 35px;
    color: yellow;
    border: 10px #734e30 solid;
    /*表の中の枠色*/
    border-left: none;
    border-right: none;
    font-family: "MS Gothic";
    padding: 0px;
}

table {
    /*表全体*/
    border-collapse: collapse;
    /*文字を縮小してもボーダーが縮まらない*/
    table-layout: fixed;
    background-color: black;
    border: 15px #734e30 solid;
    /*周りの色*/
    width: 610px;
    height: 150px;
    white-space: nowrap;
    text-align: center;
    margin: 3px;
}
th {
    background-color: #734e30;
    height: 1px;
}

.tr {
    display: table;
}

.railnumber {
    color: white;
    font-weight: 900;
}

.Ctitle {
    height:auto;
    background-color: #734e30;
    color: white;
    padding: 0px;
}
showing{
    font-size: 30px;
}

.CTime {
    color: white;
}

.CDetail {
    font-size: 25px;
    overflow: hidden;
}

.name {
    border-bottom-color: black;
}
.CName {
    line-height: 0.6;
}

.gou {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    transform: translate(10%, 25%);
}

.red {
    color: red;
}
.blue {
    color: skyblue;
}
.white {
    color: white;
}
.lightgreen {
    color: lightgreen;
}
.orange{
    color:orange;
}