body{
    font-family: monospace;
}
th{
    color:white;
    background-color: gray;
}
time{
    border:green solid;
    font-size:40px;
    text-align: right;
}
td{               /*データ内*/
    display: table-cell;
    font-size:30px;
    height: 25px;
    color:white;
    border: 1px black solid;  /*表の中の枠色 */
    padding: 2px;
    /*border-left:none;
    border-right:none; */
    border-bottom:2px gray solid;
}
table{        /*表全体*/
    border-collapse: collapse;/*文字を縮小してもボーダーが縮まらない*/
    table-layout:fixed;
    background-color: black;
    border: 10px gray solid;/*周りの色*/
    width: 750px; 
    white-space:nowrap;
    text-align:center;
    display:table;
    border-spacing: 0px;
}
.CDetail{
    font-size:20px;
    text-align: left;
    color:white;
    overflow: hidden;
}
.higherDetail{
    border-bottom-color: black;
}
tables{
    display:flex;
}
.Ctitle{
    background-color: gray;
    color:white;
}
p3{
    font-size:20px;
}
.railnumber{
    background-color: white;
    color:blue;
    font-family:"meiryo";
    font-weight: 800;
}
[class^="shubetu"]{
    letter-spacing: 10px;
}
.KinLocolor{
    background-color: blue;
}
.KinExcolor{
    background-color: orange;
}