body{
    font-family: monospace;
}
th{
    color:white;
    background-color: black;
}
time{
    border:white solid;
    font-size:40px;
    text-align: right;
}
td{               /*データ内*/
    font-size:30px;
    height: 30px;
    color:white;
    border: 2px black solid;  /*表の中の枠色*/
    font-family: "meiryo";
    padding:0px;
}
table{        /*表全体*/
    table-layout:fixed;
    background-color: black;
    border: 10px #404040 solid;/*周りの色*/
    width: 750px; 
    white-space:nowrap;
    text-align:center;
}
.Ctitle{
    background-color: gray;
    height:40px;
    color:white;
}
[class^="shubetu"]{
    text-align: left;
    padding-left:10px;
}
[class^="Destination"]{
    text-align: left;
}
p3{
    font-size:20px;
}
.railnumber{
    color:yellow;
}